<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1 style="color:Tomato; text-align: center">WOW!!!!!</h1>'
    <h2 style="color:DodgerBlue; text-align: center">Congratulations!!!!</h2>'
    <h3 style="color:MediumSeaGreen; text-align: center">Dinh Van Vinh Phat deployed successfully!!!!!!</h3>
</body>
</html>
